#A {
    display: flex;
    justify-content: center;
    border:solid thin grey;
    height: 600px;
    width: 450px;
    margin-left:500px;
    box-shadow: 10px 10px 10px grey;
    text-align: center;

}
#B{
    
    font-family:"Monotype Corsiva";
    font-size: 15pt;
   
}
input{
    width:300px;
    height:30px;
    margin:5px;
}
button{
    width:300px;
    height:40px;
    margin:10px;
    background-color: rgba(0, 110, 255, 0.815);
    color: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
}
.C{
    border: solid thin black;
    height: 0.5px;
    width:120px;
    
}
#D{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#E{
    font-family:monospace;
}